@media only screen and (max-width: 1800px) {
  .info__logo {
    display: flex;
    justify-content: center;
  }

  .info__logo img {
    width: 95%;
  }
}

@media only screen and (max-width: 1560px) {
  .heading3 {
    font-size: 35px;
  }

  .info__content-title {
    font-size: 20px ;
  }

  .info__content-text {
    font-size: 13px;
  }
}


@media only screen and (max-width: 1460px) {
    .heading1 {
      font-size: 95px;
    }
  
    .about-section {
      height: 100vh;
    }

    .whatWeDoHeading {
      text-align: center;
    }

    .lists-wrapper {
      align-items: center;
    }

    .lists {
      width: 100%;
      justify-content: center;
      gap: 280px;
    }

    .lists ul {
      margin-right: 0;
    }

    .lists-wrapper .button-wrapper {
      width: 100%;
      text-align: center;
    }
  }
    
  
    
  
    @media only screen and (max-width: 1150px) {
      .heading1 {
        font-size: 90px;
      }
  
      .about-section {
        height: 100vh;
      }
  
    .heading2 {
      font-size: 20px;
    }

    .heading3 {
      font-size: 30px;
    }

    .info__content-title {
      font-size: 16px;
    }
  
    .nav-bar {
      padding: 47px 150%;
    }

    .nav-bar__item img {
      height: 70px;
  }
  
    .right-side img {
      height: auto;
    }
  
    .pics img {
      height: auto;
    }
  
    .services-section {
      padding: 170px 0;
  }
  
    footer {
      padding: 0 10%;
    }

    .lists {
      gap: 100px;
    }
  }

  
  
  @media only screen and (max-width: 1075px) {
    .heading1 {
      font-size: 70px;
    }
  
    .heading2 {
      font-size: 18px;
    }
  
    .mid-shrift {
      font-size: 53px !important;
   }

   footer p {
    font-size: 12px;
   }

   .lists ul {
    margin-right: 15px; 
   }

   .nav-bar {
    justify-content: flex-start;
    padding-top: 200px;
  }

  }
  
  
  @media only screen and (max-width: 800px) {
    .heading1 {
        font-size: 48px;
    }

    .services-section {
        padding: 170px 0 80px;
    }
  
    .cube-img {
      margin-bottom: 100px;
    }
  
  
    .pics {
      gap: 7px;
    }

    .nav-bar__item img {
      height: 55px;
  }
  
  }
  
  
  @media only screen and (max-width: 640px) {
    .button {
      width: 185px;
      font-size: 15px;
    }
  
    .button-container {
      width: 185px;
    }
  
    .lists {
      gap: 65px;
    }
  
    .heading1 {
      font-size: 48px;
    }
  
    .mid-shrift {
      font-size: 41px !important;
    }

    .site-navigation {
        width: 40px;
    }

    :root {
        --burger-margin: 6px;
    }


  
  }
  
  @media only screen and (max-width: 600px) {
    .heading1 {
        font-size: 45px;
        text-align: center;
        white-space: unset;
    }
  
    .heading2 {
      font-size: 16px;
      text-align: center;
  }
  
    footer p {
      font-size: 12px;
    }
  
    .social a {
      font-size: 12px;
    }
  
    #logo {
      height: 30px;
    }
  
    .about-section {
      flex-direction: column;
      padding-top: 100px;
      justify-content: center;
    }
  
    .left-side {
      width: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .right-side {
      width: 100%;
      margin-top: 5px;
      display: none;
  }

  .right-side img {
    height: 50px;
  }
  
  .text-description {
    width: 100%;
    text-align: center;
  }

  .portfolio-section {
    height: auto;
    padding-top: 100px;
}
  
  .pics {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .services-section {
    padding: 135px 0 80px;
    flex-direction: column;
    justify-content: center;
  }
  
  .whatWeDoHeading {
    width: 100%;
    text-align: center;
  }
  
  .lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .lists ul {
    margin-right: 0;
  }
  
  .works-gallery {
    padding-top: 21%;
  }

  /* ////////////////////////// */
  main {
    padding: 0 0;
  }

  .site-navigation {
    border-left: 0;
    background-color: transparent;
  }

  .page-navigation {
    display: none;
  }

  .about-section {
    padding-top: 0;
    height: auto;
  }

  .lists-wrapper {
    display: block;
    margin: 0;
  }

  .lists {
    justify-content: center;
    gap: 50px;
  }

  .lists-wrapper .star-shape {
    display: none;
  }

  footer {
    padding: 0 20px;
  }
  
  }
  
  @media only screen and (max-width: 375px) {
    #logo {
      height: 25px;
  }
  
  
  .heading1 {
    font-size: 37px;
  }
  
  .heading2 {
    font-size: 14px;
  }
  
  .cube-img {
    margin-bottom: 23px;
  }
  
  .services-section {
    padding: 135px 0 25px;
  }

  .nav-bar__item img {
    height: 35px;
  } 

  .lists {
    gap: 5px;
    padding: 0 20px;
  }

  .services-section {
    padding: 0 0 0;
  }
}


@media only screen and (max-width: 330px) {
  .nav-bar__item img {
    display: none;
  }
}

  
  
  
  