* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}

html {
    scroll-behavior: smooth;
}

body {
   background-color: #fff;
}

.intro {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 9999;
  animation: hideIntro 3s forwards 3s;
}

@keyframes hideIntro {
  to {
    top: -3000px;
    /* display: none; */
  }
}

#svg-logo {
  stroke:#000000;
  stroke-width:2;
  stroke-miterlimit:10;
  fill: transparent;
  animation: fill 2s ease forwards 2s;
}

#svg-logo path:nth-child(1) {
  stroke-dasharray: 155px;
  stroke-dashoffset: 155;
  animation: animateLogo 2s ease forwards 1s;
}

#svg-logo path:nth-child(2) {
  stroke-dasharray: 58;
  stroke-dashoffset: 58;
  animation: animateLogo 3s ease forwards 1s;
}

#svg-logo path:nth-child(3) {
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  animation: animateLogo 3s ease forwards 1s;
}

#svg-logo path:nth-child(4) {
  stroke-dasharray: 185;
  stroke-dashoffset: 185;
  animation: animateLogo 3s ease forwards 1s;
}

#svg-logo path:nth-child(5) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: animateLogo 3s ease forwards 1s;
}

@keyframes animateLogo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}




.title {
  font-family: Mosk, sans-serif !important;
  font-size: 132px;
  white-space: nowrap;
  overflow: visible;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.heading3 {
  font-size: 48px;
  font-family: Mosk, sans-serif ;
  font-weight: 900;
}

p {
  font-size: 18px;
  font-weight: 400;
}


/* Header */

header {
 padding-left: 292px;    
}

#logo  {
  max-width: max-content;
  height: 29px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  /* color: #268f2a; */
  text-decoration: none; 
  z-index: 5;
  position: fixed;
  top: 43px;
  transition: all .5s ease;
  mix-blend-mode: difference;
}

#logo img {
  height: inherit;
  mix-blend-mode: difference;
}


/* Navigation  */

:root {
  --bar-width: 27px;
  --bar-height: 2px;
  --burger-gap: 8px;
  --burger-margin: 27px;
}

.site-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 100vh;
  border-left: 1px solid black;
  background-color: white;
  z-index: 5;
}


.burger-menu {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--burger-gap);
  position: absolute;
  top: 47px;
  left: var(--burger-margin);
  z-index: 3;
  cursor: pointer;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: black;
  transform-origin: left center;
  border-radius: 9999px;
  transition: opacity 500ms,
              width   500ms,
              transform 500ms,
              rotate 500ms;
}

.burger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
  background-color: #000000;
} 

.burger-menu:has(input:checked)::before {
  rotate: 45deg;
  background-color: white;
}

.burger-menu:has(input:checked)::after {
  rotate: -45deg;
  background-color: white;
}

.burger-menu input:checked {
  opacity: 0;
  width: 0;
}

/*********************/
.nav-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: -2000px;
  justify-content: center;
  align-items: flex-start;
  padding: 47px 400px;
  transition: all 700ms;
  z-index: 2;
  margin-right: 80px;
}

.nav-bar__item {
  cursor: pointer;
  color: black;
  position: relative;
}

.nav-bar__item a {
  color: black;
  text-decoration: none;
  position: relative;
}

.nav-bar__item span {
  background-color: black;
  height: 4px;
  width: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: -5%;
  transition: width .5s ;
}

.nav-bar__item img {
  animation: rotateAnimation 3s linear infinite;
  /* animation: bounce 2s linear infinite; */
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}

.nav-bar__item a:hover .line-through {
  width: 110%;
}

.burger-menu:has(input:checked) + .nav-bar {
  right: 0;
}


.page-navigation {
  padding: 200px 0 150px;
  height: 100vh;
}

.page-navigation__list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.page-navigation__list li {
  writing-mode: vertical-rl;
  padding: 10px;
  opacity: .5;
}

.page-navigation__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  font-size: 12px;
 
}

.page-navigation__item.active {
  opacity: 1;
  font-weight: 600;
}


/* Button */

.button-container {
    display: inline-block;
    position: relative;
    width: 230px;
    height: 52px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 52px;
    border-radius: 2px 2px 16px 2px;
  }
  
  .button {
    width: 230px;
    height: 52px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid black;
    transform: translate(-8px, -8px);
    transition: all 0.2s ease;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    border-radius: 2px 2px 16px 2px;
    font-family: Mosk, sans-serif !important;
  }
  
  .button:hover {
    transform: translate(-1px, -1px);
  }  
  
  /* main  */

  /* Section-Welcome */
  
  .welcome-section {
    width: calc(100% - 80px);
    height: 90vh;
    padding: 0 292px;
    border-radius: 0 0 83px 0;
    display: flex;
    align-items: center;
    background-color: #000000;
    position: relative;
  }

  .hero-wrapper a {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .bordered-text {
    color: #000; /* Text color */
    text-shadow: 
      -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff; /* Border color and thickness */
  }

  .description {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
  }

  .advice {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 292px;
    margin-top: 30px;
    /* margin-bottom: 30px; */
  }

  .upTitle {
    color: #ffffff;
    font-size: 24px;
  }
/* 
  .whiteStar {
    position: absolute;
    right: 280px;
    bottom: 50px;
  } */
  
/* Section-About */
 
  .about-section {
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 292px;
  }
  
  .left-side {
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .left-side p {
    font-size: 18px;
    font-weight: 400;
  }

  .about-section .button-container {
    border: 1px solid #000;
  }
  
  .right-side {
    width: 50%;
    z-index: -2;
  }
  .right-side img {
    width: 100%;
    max-height: 100vh;
    height: auto;
    border-radius: 0 15% 0 0 ;
  }

  h2.title {
    color: #000;
  }

  /* Section-Portfolio */
  
  .portfolio-section {
    height: 100vh;
    padding: 10px 0;
  }
  
  .pics {
    display: flex;
    justify-content: space-between;
  }

  /* Section-services */
    
  .services-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 292px;
  }

  .services-section p {
    font-size: 18px;
    font-weight: 400;
  }

  .services-section .button-container {
    border: 1px solid #000;
  }

  .whatWeDoHeading {
   text-align: start;    
  }
  
  .lists-wrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    /* justify-content: space-evenly; */
    margin-top: 96px;
  }

  .lists-wrapper .star-shape {
    width: 50%;
  }

  .star-shape img {
    animation: rotateAnimation 3s linear infinite;
  }

  .lists {
    display: flex;
  }
  
  .lists ul {
    list-style: none;
    margin-right: 150px;
    font-size: 18px;
  
  }
  
  .lists ul li {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 400;
  }

  .button-wrapper {
    width: 50%;
  }
  
  
  .cube-img {
    width: 100%;
    height: auto;
    margin-bottom: 200px;
  } 
  
  
/* footer  */
  footer {
    padding: 20px 292px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
  }

  footer p {
    font-weight: 500;
  }
  
  .social {
    color: black;
  }

  /* Animations */ 
  @keyframes uparrow {
    0%  { height: 70px;  }
    50% { height: 110px; }
    100% {height: 70px;  }
  }
  
  @-webkit-keyframes uparrow {
    0%  { height: 70px;  }
    50% { height: 110px; }
    100% {height: 70px;  }
  }





/* SVG */

.svg {
  position: absolute;
  top: 0;
  left: -20%;
  width: 150%;
  overflow: hidden;
}


/* Cursor animation  */
.cursor__circle {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(108, 0, 158);
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.15s;
  transition: 0.15s;
  z-index: 999;
  mix-blend-mode: difference;
}

.cursor__dot {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: rgb(108, 0, 158);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
  mix-blend-mode: difference;
}