* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}



html {
    scroll-behavior: smooth;
  }

.intro {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 9999;
  animation: hideIntro 3s forwards 3s;
}

@keyframes hideIntro {
  to {
    top: -3000px;
    /* display: none; */
  }
}

#svg-logo {
  stroke:#000000;
  stroke-width:2;
  stroke-miterlimit:10;
  fill: transparent;
  animation: fill 2s ease forwards 2s;
}

#svg-logo path:nth-child(1) {
  stroke-dasharray: 155px;
  stroke-dashoffset: 155;
  animation: animateLogo 2s ease forwards 1s;
}

#svg-logo path:nth-child(2) {
  stroke-dasharray: 58;
  stroke-dashoffset: 58;
  animation: animateLogo 3s ease forwards 1s;
}

#svg-logo path:nth-child(3) {
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  animation: animateLogo 3s ease forwards 1s;
}

#svg-logo path:nth-child(4) {
  stroke-dasharray: 185;
  stroke-dashoffset: 185;
  animation: animateLogo 3s ease forwards 1s;
}

#svg-logo path:nth-child(5) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: animateLogo 3s ease forwards 1s;
}

@keyframes animateLogo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}




.heading1 {
  font-family: Mosk, sans-serif !important;
  font-size: 132px;
  color: black;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: visible;
  font-weight: 900;
}

.heading2 {
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
 
}

.heading3 {
  font-size: 48px;
  font-family: Mosk, sans-serif ;
  font-weight: 900;
}

p {
  font-size: 18px;
  font-weight: 400;
}


/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
    
}

#logo  {
  max-width: max-content;
  height: 29px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  /* color: #268f2a; */
  text-decoration: none; 
  z-index: 5;
  position: fixed;
  top: 43px;
}

#logo img {
  height: inherit;
}


/* Navigation  */

:root {
  --bar-width: 27px;
  --bar-height: 2px;
  --burger-gap: 8px;
  --burger-margin: 27px;
}

.site-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 100vh;
  border-left: 1px solid black;
  background-color: white;
  z-index: 5;
}


.burger-menu {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--burger-gap);
  position: absolute;
  top: 47px;
  left: var(--burger-margin);
  z-index: 3;
  cursor: pointer;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: black;
  transform-origin: left center;
  border-radius: 9999px;
  transition: opacity 500ms,
              width   500ms,
              transform 500ms,
              rotate 500ms;
}

.burger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
  background-color: #000000;
} 

.burger-menu:has(input:checked)::before {
  rotate: 45deg;
  background-color: white;
}

.burger-menu:has(input:checked)::after {
  rotate: -45deg;
  background-color: white;
}

.burger-menu input:checked {
  opacity: 0;
  width: 0;
}

/*********************/
.nav-bar {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: -2000px;
  justify-content: center;
  align-items: flex-start;
  padding: 47px 400px;
  transition: all 700ms;
}

.nav-bar__item {
  cursor: pointer;
  color: white;
  position: relative;
}

.nav-bar__item a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav-bar__item span {
  background-color: white;
  height: 4px;
  width: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: -5%;
  transition: width .5s ;
}

.nav-bar__item img {
  animation: rotateAnimation 3s linear infinite;
  /* animation: bounce 2s linear infinite; */
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}

/* @keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-15%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-7%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-3%); }
  100% { transform:translateY(0); }
} */

.nav-bar__item a:hover .line-through {
  width: 110%;
}

.burger-menu:has(input:checked) + .nav-bar {
  right: 0;
}


.page-navigation {
  padding: 200px 0 150px;
  height: 100vh;
}

.page-navigation__list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.page-navigation__list li {
  writing-mode: vertical-rl;
  padding: 10px;
  opacity: .5;
}

.page-navigation__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  font-size: 12px;
 
}

.page-navigation__item.active {
  opacity: 1;
  font-weight: 600;
}


/* Button */

.button-container {
    display: inline-block;
    position: relative;
    width: 230px;
    height: 52px;
    border: 1px solid #000000;
    cursor: pointer;
    margin-top: 52px;
    border-radius: 2px;
  }
  
  .button {
    width: 230px;
    height: 52px;
    text-transform: capitalize;
    background-color: white;
    border: 1px solid black;
    transform: translate(-8px, -8px);
    transition: all 0.2s ease;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    border-radius: 2px;
    font-family: Mosk, sans-serif !important;
  }
  
  .button:hover {
    background-color: black;
    color: white;
    transform: translate(-1px, -1px);
  
  }



  /* Sticky Line */

  .stiky-line-container {
    height: 120px;
    position: sticky;
    bottom: 0;
    left: 50%;
    z-index: 1;
    cursor: default;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }


  .lineAnimation {
    --webkit-animation: uparrow 2s 2 ease-in-out;
  }

  .lineAnimationHover {
    --webkit-animation: uparrow 2s infinite ease-in-out;
  }

  .stiky-line-container  a {
    cursor: default;
    padding: 10px 10px 0 10px;
  }

  
  #stiky-line {
    width: 1px;
    height: 70px;
    background-color: black;
    position: sticky;
    bottom: 0;
    left: 50%;
    z-index: 3;
  }

  #stiky-line::before {
    content: '';
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0 -6px;
    display: var(--beforeDisplay, none);
  }
  
  
  
  /* main  */

  main {
    padding: 0 284px;
    padding: 0 10%;
    overflow: hidden;
  }

  /* Section-Welcome */
  
  .welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Pyramid.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
  }
  
/* Section-About */
 
  .about-section {
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-side {
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .right-side {
    width: 50%;
    z-index: -2;
  }
  .right-side img {
    width: 100%;
    max-height: 100vh;
    height: auto;
    border-radius: 0 15% 0 0 ;
  }

  /* Section-Portfolio */
  
  .portfolio-section {
    height: 100vh;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mid-shrift {
    font-size: 71px !important;
  }

  .text-description {
    text-align: center;
  }
  
  
  .pics-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .pics {
    margin-top: 50px ;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 31px;
  }
  
  
  .pics img {
    width: 100%;
    max-height: 320px;
    height: auto;
    max-width: 320px;
    cursor: pointer;
    transition: all .3s linear;
  }

  .pics img:hover {
    border-radius: 50%;
    transition: all .3s linear;

  }


  

  /* Section-services */
    
  .services-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
  }

  .whatWeDoHeading {
   text-align: start;    
  }
  
  .lists-wrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    /* justify-content: space-evenly; */
    margin-top: 96px;
  }

  .lists-wrapper .star-shape {
    width: 50%;
  }

  .star-shape img {
    animation: rotateAnimation 3s linear infinite;
  }

  .lists {
    display: flex;
  }
  
  .lists ul {
    list-style: none;
    margin-right: 150px;
    font-size: 18px;
  
  }
  
  .lists ul li {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 400;
  }

  .button-wrapper {
    width: 50%;
  }
  
  
  .cube-img {
    width: 100%;
    height: auto;
    margin-bottom: 200px;
  } 
  
  
/* footer  */

 .footer-wrapper {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
 }



  footer {
    padding: 20px 274px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
  }

  footer p {
    font-weight: 500;
  }
  
  .social {
    display: flex;
  }
  
  .social a {
    color: black;
    margin-right: 10px;
  }





  /* Animations */ 
  @keyframes uparrow {
    0%  { height: 70px;  }
    50% { height: 110px; }
    100% {height: 70px;  }
  }
  
  @-webkit-keyframes uparrow {
    0%  { height: 70px;  }
    50% { height: 110px; }
    100% {height: 70px;  }
  }





/* SVG */

.svg {
  position: absolute;
  top: 0;
  left: -20%;
  width: 150%;
  overflow: hidden;
}


/* Cursor animation  */
.cursor__circle {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(108, 0, 158);
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.15s;
  transition: 0.15s;
  z-index: 999;
  mix-blend-mode: difference;
}

.cursor__dot {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: rgb(108, 0, 158);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
  mix-blend-mode: difference;
}



















